
#ventana_unidad_medida{
        display: none;
	padding:20px;
	color: black;
	position: fixed;
	left: 37.5%;
	top: 30%;
	z-index: 1000;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}