@charset "utf-8";
/* CSS Document */

/*Fuente personalizada*/
@font-face{
	font-family: animales;
	src: url(../../../lib/css/fuentes/jungla.ttf) format('truetype');
}

/*Maquetacion principal*/
body{ 
	text-align:justify;
	font-family: Verdana, Geneva, sans-serif, Arial, Helvetica, sans-serif;
	background-image: url(../../../lib/img/negro.png), url(../../../lib/img/bg.png);
	background-attachment:fixed;
}
h6{
	color:#FFF;
}
.titJungla{
	transform:translate:(150px 0px);
	-ms-transform:translate:(150px 0px);
	-moz-transform:translate:(150px 0px);
	-webkit-transform:translate:(150px 0px);
	-o-transform:translate:(150px 0px);
	position:absolute;
	color:#0F9;
	font-size:36px;
	margin-top:20px;
	margin-left:20px;
	letter-spacing:0px;
	display:inline;
}
.subtitJungla{
	transform:translate:(150px 0px);
	-ms-transform:translate:(150px 0px);
	-moz-transform:translate:(150px 0px);
	-webkit-transform:translate:(150px 0px);
	-o-transform:translate:(150px 0px);
	position:absolute;
	color:#FFF;
	font-size:18px;
	margin-top:70px;
	margin-left:20px;
	letter-spacing:0px;
	display:inline;
}
#sesion{
	text-align:right;
	position:absolute;
	top:10px;
	right:15px;
	margin:5px;
}
#sesion .k-textbox{
        font-size: 14px;
}
#sesion .k-button{
        color: #0C6;
}
#sesion .k-button:hover{
        color: #FFF;
}
#iniJungla{
	margin:auto;
	width:80%;
	height:100%;
	position:relative;
	background:rgba(0,0,0,0.5);
	border-radius:5px 35px 5px 35px;
	-moz-border-radius:5px 35px 5px 35px;
	-webkit-border-radius:5px 35px 5px 35px;
	-o-border-radius:5px 35px 5px 35px;
	behavior: url(ie-css3.htc);
}
#logoJungla{
	width:120px;
	height:120px;
	display:inline;
	position:relative;
}
header{
	display:table;
	margin:auto;
	width:100%;
	height:100px;
	border:2px solid white;
	background:rgba(0,99,0,0.45);
	border-radius:5px 35px 0px 0px;
	-moz-border-radius:5px 35px 0px 0px;
	-webkit-border-radius:5px 35px 0px 0px;
	-o-border-radius:5px 35px 0px 0px;
	box-shadow:0px 0px 10px white;
	-moz-box-shadow:0px 0px 10px white;
	-webkit-box-shadow:0px 0px 10px white;
	-o-box-shadow:0px 0px 10px white;
	behavior: url(ie-css3.htc);
}
#menu li{
	width:24.907%;
}
#menu li a{
	text-align:center;
	color:#0C6;
}
#menu li a label{
	font-size:18px;
}
#menu li a:hover, a label:hover{
	color:#FFF;
	cursor:pointer;
}
#photoIni{
	margin:10px 0px 10px 300px;
}
footer{
	display:table;
	text-align:center;
	margin:auto;
	width:100%;
	background:rgba(0,99,0,0.5);
	border:2px solid white;
	border-radius:0px 0px 5px 35px;
	-moz-border-radius:0px 0px 5px 35px;
	-webkit-border-radius:0px 0px 5px 35px;
	-o-border-radius:0px 0px 5px 35px;
	box-shadow:0px 0px 10px white;
	-moz-box-shadow:0px 0px 10px white;
	-webkit-box-shadow:0px 0px 10px white;
	-o-box-shadow:0px 0px 10px white;
}

/*maquetacion index*/
#contenido{
	width:100%;
}
#position{
	float:left;
	display:inline;
	width:40%;
	padding:20px;
}
.article{
	width:50%;
	background:rgba(0,255,66,0.7);
	display:table;
	float:right;
	margin:20px;
	padding:10px;
	height:100%;
	border:1px solid white;
	border-radius:0px 25px 0px 25px;
	-moz-border-radius:0px 25px 0px 25px;
	-webkit-border-radius:0px 25px 0px 25px;
	-o-border-radius:0px 25px 0px 25px;
	box-shadow:3px 3px 10px black;
	-moz-box-shadow:3px 3px 10px black;
	-webkit-box-shadow:3px 3px 10px black;
	-o-box-shadow:3px 3px 10px black;
	opacity:0.6;
	transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition:opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s;
	-moz-transition:opacity 1s, -moz-box-shadow 1s, -moz-transform 1s, background 1s;
	-o-transition:opacity 1s, -o-box-shadow 1s, -o-transform 1s, background 1s;
	transform:scale(1,1);
	-moz-transform:scale(1,1));
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
}
.article:hover{
	opacity:1;
	transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	background:rgba(0,255,66,1);
	box-shadow:0px 0px 25px white;
	-moz-box-shadow:0px 0px 25px white;
	-webkit-box-shadow:0px 0px 25px white;
	-o-box-shadow:0px 0px 25px white;
}
.fotoArt{
	width:180px;
	float:left;
	margin-top:20px;
	display:inline;
}
.contArt{
	margin-left:200px;
	display:block;
}
/* Para la compatibilidad entre diversos navegadores que no soporten completamente HTML5 y CSS3 utilizaremos lo prefijos -webkit-, -moz-, -o- para dichos navegadores */
#cr{
	text-decoration:none;
	color:#FFF;
}

/*estilos para contacto.php */
.contacto{
	background:rgba(255,255,255,0.3);
	border-radius:0px 25px 0px 25px;
	width:42%;
	float:left;
	margin:20px;
	padding:20px;
}
.titleContacto{
	font-size:36px;
	color:#CF0;
	text-shadow:1px 1px 5px black;
	text-align:left;
}
textarea{
	border:1px solid green;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
.inpCont{
	font-size:16px;
	border-style:inset;
	width:300px;
	background:rgba(255,255,255,0.7);
}
.inpCont:hover{
	background:rgba(255,255,255,1);
}
.txtCont{
	font-weight:bold;
	width:100px;
	display:block;
	text-align:left;
}
#mensajeContacto{
	font-weight:bold;
}

/* Estilos para la pagina de Servicios*/
#servicios{
	text-align:left;
	width:100%;
	margin:20px;
}
#titServicios{
	font-size:24px;
	color:#CF0;
	text-align:left;
}
.textServicios{
	font-size:16px;
	color:#FFF;
	text-align:left;
	margin:20px;
}
.titcuServicios{
	font-size:20px;
	color:#096;
}
.imgServicios{
	height:150px;
	margin-left:400px;
}