
/*Estilos del Panel*/
.k-content{background-color:#BBB;color:#000}
/*maquetacion index*/

#position{
	padding:20px;
        display: block;
}
.article{
	background:#0F9;
	display:table;
	margin:20px;
	padding:10px;
	height:100%;
	border:1px solid white;
	border-radius:0px 25px 0px 25px;
	-moz-border-radius:0px 25px 0px 25px;
	-webkit-border-radius:0px 25px 0px 25px;
	-o-border-radius:0px 25px 0px 25px;
}
.fotoArt{
	width:180px;
	float:left;
	margin-top:20px;
	display:inline;
}
.contArt{
	margin-left:200px;
	display:block;
}
.iframe{
        margin: 20px 0px 20px 0px;
}
.iframe h4.k-header{
        margin: 1.4em 0 1em;
        padding: .4em 1.4em;
        font-size: 1.1em;
        border-radius: 2px;
}