/* 
    Document   : estilos_index
    Created on : 09/11/2012, 02:01:37 PM
    Author     : Ja1R
    Description:
        Purpose of the stylesheet follows.
*/

#vtna_ver_entrada{
	padding:20px;
	color: black;
	position: fixed;
	left: 35%;
	top: 15%;
	z-index: 1000;
	text-align: left;
	background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        border:10px solid grey;
}
.pendiente{
        font-weight: bold;
        color: red;
}
.confirmado{
        font-weight: bold;
        color: blue;
}
